---
// Component Imports
import Main from '@layouts/main.astro';
import Header from '@organisms/Header.astro';
import About from '@molecules/About.astro';

const content = {
  title: 'Mauricio Romero',
};
---

<Main content={content}>
  <Header />
  <About />
</Main>
