---
// Component Imports
import Button from '../components/Atoms/Button.astro';
import Main from '../layouts/main.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/

const content = {
  title: 'Mauricio Romero',
};
---

<Main content={content}>
  <h1
	class="text-3xl font-bold underline"
	>My name is <span class="bg-blend-color-dodge text-orange-400 divide-teal-900 ">Mauricio Romero</span></h1>
  <p>I am a software engineer</p>
  <p>Welcome to my website!</p>
  <p>This is an example of an Astro component.</p>
  <p>You can use it in your pages like this:</p>

  <p>
    <Button>Click me</Button>
  </p>
</Main>


