---
const { label, variant = 'primary', size = 'base' } = Astro.props;
---

<div
  class:list={{
    'text-gray-200 bg-retro_blue hover:bg-retro_red': variant === 'primary',
    'text-gray-200 bg-retro_green': variant === 'secondary',
    'px-3 py-1.5 text-sm': size === 'base',
    'px-2 py-1 text-xs': size === 'small',
  }}
  class="relative grid select-none items-center whitespace-nowrap rounded-lg font-sans font-bold hover:shadow-sm"
>
  <span class="">
    {label}
  </span>
</div>
