---

---

<div
  class="animate-slideIn text-retro_white divide-gray-200 flex w-full max-w-xs items-center rounded-lg bg-retro_green p-1 shadow"
  role="alert"
>
  <div class="text-sm font-normal">Copied!</div>
</div>
