---

---

<section class="pt-8">
  <div class="container mx-auto px-4 text-xl text-gray-600">
    <p class="leading-relaxed">
      Passionate about technology and self-taught, I enjoy continuous learning.
      With three years of experience in development, I believe this mindset is
      key to innovation. I like working while listening to synthwave, and in my
      free time, I enjoy traveling with friends, playing board games, and
      reading.
    </p>
  </div>
</section>
