---
import Email from '@atoms/icons/Email.astro';
import Github from '@atoms/icons/Github.astro';
import LinkedIn from '@atoms/icons/LinkedIn.astro';
import Resume from '@atoms/icons/Resume.astro';
import Toast from '@atoms/Toast.astro';
---

<div class="flex items-center justify-center gap-1 pt-4 lg:justify-start">
  <a
    title="Resume"
    target="_blank"
    href="#"
    class="flex h-8 w-8 items-center justify-center rounded-lg text-retro_dark/80 hover:bg-retro_light/40 hover:text-retro_dark"
  >
    <Resume /></a
  > |
  <a
    title="GitHub"
    target="_blank"
    href="#"
    class="flex h-8 w-8 items-center justify-center rounded-lg text-retro_dark/80 hover:bg-retro_light/40 hover:text-retro_dark"
    ><Github /></a
  > |
  <a
    title="LinkedIn"
    target="_blank"
    href="#"
    class="flex h-8 w-8 items-center justify-center rounded-lg text-retro_dark/80 hover:bg-retro_light/40 hover:text-retro_dark"
    ><LinkedIn /></a
  >
</div>
