---
import Email from '@atoms/icons/Email.astro';
import Toast from '@atoms/Toast.astro';
import Links from '@components/molecules/Links.astro';
---

<header class="header">
  <section class="pt-4 lg:pt-8">
    <div class="container mx-auto px-8 lg:flex">
      <div class="flex flex-col justify-center lg:w-1/2">
        <img
          class="mx-auto h-64 w-64 rounded-full shadow-md shadow-retro_blue"
          src="/assets/images/mnr_photo.jpg"
          alt="Mauricio Romero Portrait"
        />
      </div>
      <div
        class="mt-8 flex flex-col justify-center text-center lg:mt-0 lg:w-1/2 lg:text-left"
      >
        <span id="wrapper">
          <h1 class="text-4xl font-bold leading-none lg:text-5xl">
            Mauricio N. Romero
          </h1>
        </span>
        <p class="mt-4 text-3xl font-light lg:text-3xl">Front-end Developer</p>
        <Links position="header" />
        <span
          class="relative flex items-center justify-center gap-1 lg:justify-start"
        >
          <a
            title="Email"
            target="_blank"
            href="mailto:mauricionromero@hotmail.com"
          >
            <span
              class="flex h-8 w-8 items-center justify-center rounded-lg text-retro_dark/80 hover:bg-retro_light/40 hover:text-retro_dark"
            >
              <Email />
            </span>
          </a><button title="Click to copy" id="email-btn"
            >mauricionromero@hotmail.com</button
          >
          <span id="toast" class="absolute bottom-0 left-1/2 hidden">
            <Toast />
          </span>
        </span>
      </div>
    </div>
  </section>
</header>

<script>
  const emailBtn = document.body.querySelector('#email-btn');
  const toastEl = document.body.querySelector('#toast');
  const copyEmail = async () => {
    try {
      await navigator.clipboard.writeText(emailBtn?.textContent || '');
      toastEl?.classList.remove('hidden');
      setTimeout(() => toastEl?.classList.add('hidden'), 400);
    } catch (err) {
      console.log('Error', err);
    }
  };
  emailBtn?.addEventListener('mousedown', copyEmail);
</script>

<style scoped>
  #wrapper {
    display: grid;
    place-items: center;
    margin-left: -2ch;
  }
  h1 {
    position: relative;
  }
  h1:hover {
    opacity: 0.9;

    text-shadow:
      0px -1px #ffffff00,
      0px 1px #ffffff00,
      -1px 0px #ffffff00,
      1px 0px #ffffff00;
  }

  h1:hover {
    animation: animate 10ms 20 ease-in-out;
    z-index: 1;
  }
  @keyframes animate {
    0%,
    100% {
      top: -1px;
      left: 0;
      opacity: 1;
      text-shadow:
        0px -1px #C14530,
        0px 1px #3D638C,
        -1px 0px #C14530,
        1px 0px #3D638C;
    }
    20% {
      top: 0;
      left: -1px;
      opacity: 0.7;
      text-shadow:
        0px -1px #C14530,
        0px 1px #3D638C,
        -1px 0px #C14530,
        1px 0px #3D638C;
    }
    40% {
      top: 1px;
      left: 0;
      opacity: 0.2;
      text-shadow:
        0px -1px #C14530,
        0px 1px #3D638C,
        -1px 0px #C14530,
        1px 0px #3D638C;
    }
    60% {
      top: 0;
      left: 1px;
      opacity: 0.3;
      text-shadow:
        0px -1px #C14530,
        0px 1px #3D638C,
        -1px 0px #C14530,
        1px 0px #3D638C;
    }
    80% {
      top: 0;
      left: 0;
      opacity: 0.9;
      text-shadow:
        0px -1px #ec2225,
        0px 1px #00c2cb,
        -1px 0px #ec2225,
        1px 0px #00c2cb;
    }
  }
</style>
