---

---

<header class="header">
  <section class="pt-20 md:pt-40">
    <div class="container mx-auto px-8 lg:flex">
      <div class="flex flex-col justify-center lg:w-1/2">
        <img
          class="mx-auto h-64 w-64 rounded-full shadow-lg"
          src="/assets/images/orange.jpg"
          alt="Mauricio Romero Portrait"
        />
      </div>
      <div class="mt-8 text-center lg:mt-0 lg:w-1/2 lg:text-left">
        <h1 class="text-4xl font-bold leading-none lg:text-5xl xl:text-6xl">
          Mauricio N. Romero
        </h1>
        <p class="mt-6 text-3xl font-light lg:text-3xl">Front-end Developer</p>
        <p>Argentina</p>
        <p>mauricionromero@hotmail.com</p>
        <p class="mt-2 md:mt-4">
          <a href="#" class="text-teal-500 hover:underline">CV</a> |
          <a href="#" class="text-teal-500 hover:underline">Github</a> |
          <a href="#" class="text-teal-500 hover:underline">LinkedIn</a>
        </p>
      </div>
    </div>
  </section>
</header>
