---
import '@styles/base.css';
const { content } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{content.title}</title>
  </head>
  <body
    class="body container mx-auto min-h-screen max-w-5xl p-8 font-sans text-lg text-retro_dark"
  >
    <slot />
  </body>
</html>

<style>
  .body {
    background:
      linear-gradient(190deg, #44779bda 0%, #67a4cfde 100%),
      url(/assets/noise.svg) left top / 900px 900px repeat;
  }
</style>
